<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>Contact Us</h2>
            <p>Address is: 123 Strit, inUS</p>
            <p>Phone number: 1234555</p>
          </div>
        </div>
      </div>
</body>
</html>